@font-face {font-family: "FagoNo";
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot");
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.svg#FagoNo") format("svg");
}

/* Nav
----------------------------------------------- */

nav {
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;
}

nav img {
  height: 48px;
  width: 56px;
  padding: 24px 32px 24px 32px;
}

nav ul {
  text-align: center;
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  margin: 0 0 24px 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2.3em;
}
nav ul li {
    display: inline;
    padding: 0 10% 0 10%;
}

/* Structure
----------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #2C0D2A;
}

footer, nav {
  grid-column: 1 / -1;
}

/* body > * {
  grid-column: 4 / span 2;
} */

article {
  display: grid;
  grid-template-columns: 1fr 1fr 14em 340px 340px 14em 1fr 1fr;
}

article > * {
  grid-column: 4 / span 2;
}

/* h1, h2, p, blockquote {
  grid-column: 4 / span 2;
  min-width: 0;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
} */

section, footer {
  padding: 1.5em 0px 1.5em 0px;
}

blockquote {
    grid-column: 4 / span 2;
    text-align: center;
    color: #444;
    line-height: 1.36em;
    margin: .5em auto 1.2em;
    font-size: 1.7em;
}

/* Headings
----------------------------------------------- */

h1 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.6em;
    letter-spacing: .04em;
    text-align: left;
    padding: .5em 0 .5em 0;
}

h2 {
  font-family:'FagoNo-Medium', 'Sans-Serif';
  font-size: 1.4em;
  font-weight: lighter;
  text-align: left;
  padding: 1em 0 0 0;
}

h3, h4 {
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1.51em;
}
h4 {
  font-size: 1.3em;
}

p {
  font-family:'Calisto MT', 'Serif';
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 8px;
}

/* Sections
----------------------------------------------- */

.center h1 {
  text-align: center;
}


/* #summary {
  background-color: #3D3D3D;
  color: #EEE;
}

#summary h1 {
 font-weight: lighter;
 letter-spacing: .12rem;
 text-align: center;
}

#summary p {
  text-align: center;
} */

.dark {
  background-color: #eaeaea;
  color: #1e1e1e;
}

.dark h2 {
  color: #4D4D4D;
}

.light {
  background-color: #ffffff;
  color: #242424;
}

.light h2 {
  color: #7F7F7F;
}

.data {
  padding: 2em 0px 2.5em 0px;
  background-color: #575757;
  margin: 2em 0 2em 0;
  /* margin-top: 2em;
  margin-bottom: 2em; */
  color: #f1f1f1;
}

.data ul li {
  font-size: 1.2em;
  font-family: 'Calisto MT', 'Serif';
  line-height: 1.5em;
}

.comment {
    /* grid-column: 6; */
    font-family: Calisto MT;
    margin-left: 2em;
    color: #666;
    font-size: 1em;
    line-height: 1.6em;
    /* align-self: center; */
    /* justify-self: center; */
}

#comment-1 {
  background-color: yellow;
  justify-self: end;
  align-self: end;
  /* grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 5; */
  z-index: 2;
  width: 10%;
  grid-column: 6;

}


/* Components
----------------------------------------------- */

.wide {
    grid-column: 1 / -1;
    /* margin: 20px 0; */
}

.mid {
    grid-column: 2 / -2;
    /* margin: 20px 0; */
}

.small {
  /* grid-column: 1 / -1; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0;
  z-index: 1;
}

.small img {
  grid-column: 4;
}

.small video {
  grid-column: 5;
}

#line {
  background-color: #CCC;
  width: 3em;
  height: 1.5px;
  margin: 1.5em auto 2em auto;
  grid-column: 4;
}




/*  */

/* img {
    width: 100%;
} */


.no-box-caption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}

.box-caption-dark, .box-caption-dark {
  font-family: 'FagoNo', 'sans-serif';
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em 1.4em 1.2em 1.4em;
  display: inline-block;
}

.box-caption-dark {
  color: #f1f1f1;
  background-color: #959595;
  width: 16.6em;
  border: .5px solid #585858;
  /* width: 17em; */
}

.box-caption-light {
  font-family: 'FagoNo', 'sans-serif';
  color: #212121;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #E2e2e2;
  width: 17.3em;
  padding: 1em 1.4em 1.2em 1.4em;
  display: inline-block;
  border: .5px solid #979797;
}



section a {
  font-weight: bold;
  color: #242424;
}

section a:hover {
  color: #666;
}




a {
    text-decoration: none;
    color: #BBB;
}
a:hover {
    color: #f2f2f2
}
