/* Importing FagoNo Regular */
@import url(//db.onlinewebfonts.com/c/23178151f2a35dd93224374c02489308?family=FagoNo);

@font-face {
  font-family: "FagoNo";
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot");
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.svg#FagoNo") format("svg");
}

/* Importing FagoNo-Medium */
@import url(//db.onlinewebfonts.com/c/5c06042dd2780c6cf51c213e80adfa39?family=FagoNo);

@font-face {
  font-family: "FagoNo-Medium";
    src: url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.eot");
    src: url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.svg#FagoNo") format("svg");
}

/* Importing Calisto MT */
@import url(//db.onlinewebfonts.com/c/2568e173df3a278bff48d9926aa656f6?family=Calisto+MT);

@font-face {
  font-family: "Calisto MT";
    src: url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.eot");
    src: url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.svg#Calisto MT") format("svg");
}

/* Structure
-------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #2C0D2A;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li {
  padding: 0em 3em 0em 0em;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 680px 1fr 1fr;
  /* grid-column-gap: 2em; */
  padding-right: 0em;
}

article > * {
  grid-column: 1 / -1;
  /* grid-column: 3; */
  z-index: 1;
  border: 0;
  padding: 1.5em 0 1.5em 0;
}

section {
  padding-bottom: .5em;
  padding-top: .5em;
}

h1, h2, h3, h4, h5, p, blockquote, li {
  min-width: 0;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 4;
}

footer {
  display: none;
}

.comment {
    grid-column: 4;
    z-index: 2;
    font-family: Calisto MT;
    padding: 1.3em 0 0 16em;
    color: #666;
    font-size: 1em;
    line-height: 1.6em;
    min-width: 11em;
    max-width: 680px;
    font-style: italic;
}

#row5 {
  grid-row: 5 / 6;
}

#row10 {
  grid-row: 10 / 11;
}

#row11 {
  grid-row: 11/12;
}

#row15 {
  grid-row: 15/16;
}

#row22 {
  grid-row: 22/23;
}

#row23 {
  grid-row: 23/24;
}

#row25 {
  grid-row: 25/26;
}

.break-end {
  padding-bottom: 1.5em;
}

.break-start {
  padding-top: 1em;
}

.break-none {
  padding-top: .5em;
  padding-bottom: 0em;
}

/* Headings, Text Stylings
----------------------------------------------- */

h1 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.8em;
    letter-spacing: .04em;
    text-align: left;
    padding: 1.5em 0 1em 0;
}

h2 {
  font-family:'FagoNo', 'Sans-Serif';
  font-size: 1.4em;
  font-weight: lighter;
  text-align: left;
  padding: 2em 0 0em 0;
}

h3, h4 {
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
  padding: 1em 0 .5em 0;
}
h4 {
  font-size: 1.2em;
  padding: .5em 0 .5em 0;
}

h5 {
  font-family:'FagoNo', 'Sans-Serif';
  font-size: 1.2em;
  font-weight: bolder;
  padding: 2em 0 0 0;
}

p {
  font-family:'Calisto MT', 'Serif';
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: .5em 0 .5em 0;
}

a {
    text-decoration: none;
    color: #BBB;
    font-weight: lighter;
}
a:hover {
    color: #f2f2f2
}

section a {
  font-weight: bolder;
  /* text-decoration: underline; */
  color: #000000;
}

section a:hover {
  color: #666;
}

nav ul li {
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  padding: 0em 3em 0em 0em;
  font-size: 1.1em;
}

.light li, .dark li {
  font-family:'Calisto MT', 'Serif';
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: .25em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.light h4, .dark h4 {
  text-align: left;
  padding: 1.5em 0 0em 0;
}

.light h3, .dark h3 {
  text-align: left;
  padding: 1em 0 .5em 0;
  margin-bottom: 0;
}

/* Section Styling
----------------------------------------------- */

.summary {
  background-color: #3D3D3D;
  color: #eee;
  grid-row: 1 / 2;
  padding: 3.5em 0 4em 0;
}

.summary h1 {
 font-weight: lighter;
 letter-spacing: .12rem;
 text-align: center;
}

.summary p {
  text-align: center;
}

.dark {
  background-color: #e6e6e6;
  color: #111;
}

.dark h2 {
  color: #666;
}

.light {
  background-color: #ffffff;
  color: #333;
}

.end {
  padding-bottom: 2.5em;
}

.light h2 {
  color: #999;
}

blockquote {
    text-align: center;
    font-style: italic;
    color: #444;
    line-height: 1.36em;
    margin: .5em auto 1.2em;
    font-size: 1.7em;

}

.light > #line {
  background-color: #DDD;
  width: 3em;
  height: 2px;
  margin: 1.5em auto 2em auto;
}

.dark > #line {
  background-color: #CCC;
  width: 3em;
  height: 2px;
  margin: 1.5em auto 2em auto;
}

/* Figures
----------------------------------------------- */

/* Main Logo
----------------------------------------------- */

#main-logo {
  height: 4em;
  width: 5em;
  padding: 1.5em 2.5em 1.5em 2.5em;
}

/* Small Figure
----------------------------------------------- */

figure {
  margin: 0;
  padding: 1em 0 1em 0;
  border: 0;
}

figure.small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure.small > * {
  margin: 0;
  align-self: center;
}

/* figure.small2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

figure.small2 > * {
  margin: 0;
  align-self: start;
} */

#timeline {
  max-width: 360px;
}

/* Data Figure
----------------------------------------------- */

.data-figure {
  padding: 1.5em 0px 2em 0px;
  background-color: #575757;
  color: #f1f1f1;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data-details {
  align-self: start;
  justify-content: start;
  /* flex: 1 1; */
  max-width: 408px;
  min-width: 16em;
  padding: 0 .5em 0 .5em;
}

.data-details-row {
  align-self: start;
  /* justify-content: center; */
  /* flex: 1 1; */
  flex-direction: row;
  padding: 0 2em 1em 2em;
}

.data-container ul li, .data-container ol li {
  font-size: 1.2em;
  font-family: 'Calisto MT', 'Serif';
  line-height: 1.5em;
  font-weight: lighter;
  /* padding-top: 1em; */
}

.paragraph ul li{
  padding-top: 1em;
}

/* Grid Figure
----------------------------------------------- */

.figure-grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto 1fr 1fr;
  grid-template-rows: repeat(auto, 3);
  justify-items: start;
  align-items: start;
  padding: 1em 0 1.5em 0;
}

.figure-grid img {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.figure-grid figcaption {
  grid-column: 4;
  margin-left: 1em;
}

.box-caption-dark, .box-caption-light {
  font-family: 'FagoNo', 'sans-serif';
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.5em;
  padding: 1em 1.4em 1.2em 1.4em;
  /* display: inline-block; */
}

.box-caption-dark {
  color: #f1f1f1;
  background-color: #959595;
  width: 16.6em;
  border: .5px solid #585858;
  margin-top: 1em;
}

.box-caption-light {
  color: #212121;
  background-color: #E6e6e6;
  width: 17.3em;
  border: 1px solid #979797;
}

/* Mobile Resizing
----------------------------------------------- */
/* @media screen and (max-width: 39.9375em) { */
@media screen and (max-width: 70em) {

  /* Structure */
    nav ul {
      flex-direction: column;
      text-align: center;
    }

    nav ul li {
      padding: .25em 2em 0em 0em;
      font-size: 1.1em;
  }

    article {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }

    article > * {
      max-width: 100%;
      padding: 1em;
      display: flex;
      flex-direction: column;
    }

  /* Sections */
    .comment {
      display: none;
    }

    .summary {
      padding-right: 2em;
      padding-left: 2em;
    }

    .data-details {
      font-size: .9em;
    }

  /* Headings, Text */

    h1 {
      font-weight: 100;
      text-align: left;
    }

    h3, h4 {
      padding: 0 2em 0 2em;
      text-align: left;
    }

  /* Figures  */

    #main-logo {
      height: 4em;
      width: 5em;
      padding: 1.5em 1.5em 1.5em 1.5em;
    }

    #timeline {
      max-width: 80%;
      padding-right: 1em;
      padding-left: 1em;
    }

    .small img {
      padding: 1em 0 1em 0;
    }

    .figure-grid figcaption {
      grid-column: 3;
      margin: 1em 1em 1em 1em;
      justify-self: center;
      text-align: center;
      max-width: 55%;
    }

    .figure-grid img {
      padding: 0 1em 2em 1em;
      width: 90%;
      align-self: center;
    }

    figure.small > * {
      padding: 1em;
      align-self: center;
    }

    .hide {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {

      nav {
        max-width: 100%;
      }

      article {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
      }

      article > * {
        max-width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
      }

      .data-details {
        font-size: .9em;
      }

      h1 {
        font-weight: 100;
        /* text-align: center; */
      }

      .figure-grid figcaption {
        grid-column: 3;
        margin: 1em 1em 1em 1em;
        justify-self: center;
        text-align: center;
        max-width: 55%;
      }

      .figure-grid img {
      padding: 0 1em 1em 1em;
      width: 90%;
      }

      #timeline {
        max-width: 80%;
        padding-right: 1em;
        padding-left: 1em;
      }

      .figure-grid {
        grid-column: 3;
        /* justify-content: center;
        align-content: center;
        justify-self: center;
        align-self: center;
      } */

      .comment {
        display: none;
      }

      #main-logo {
        height: 4em;
        width: 5em;
        padding: 1.5em 1.5em 1.5em 1.5em;
      }

      nav ul li {
        padding: .25em 2em 0em 0em;
        font-size: 1.1em;
  }

nav ul {
  flex-direction: column;
  text-align: center;
}

h3, h4 {
  padding: 0 2em 0 2em;
  /* text-align: center; */
}

.summary {
  padding-right: 2em;
  padding-left: 2em;
}
}
