
/* Variables
-------------------------------- */
:root {
  --body-font-size: 22px;
  --line-height: 35px;
  --large-line-height: 70px;
  --baseline-padding: 35px;

  --font-size-xl: ;
  --font-size-l: 48px;
  --font-size-m: 33px;
  --font-size-s: ;
  --font-size-xs: ;

  --copy-width: 672px;
  --wide-copy-width: 740px;
  --extra-wide: 880px;
  --img-mobile-width: 300px;
}

/* Structure
-------------------------------- */

* {
 padding: 0;
 margin: 0;
}

body {
  font-size: var(--body-font-size);
  background-color: #2B132A;
}

body a {
  text-decoration: none;
}

body a:hover {
  color: #759DDA;
  border-bottom: 1px solid #759DDA;
}

section > * {
  padding: 0 24px 0 24px;
}

section {
  padding-bottom: calc(2*var(--line-height));
}

.copy, .wide-copy {
  margin: 0 auto;
  text-align: left;
}

.copy {
  max-width: var(--copy-width);
}

.wide-copy {
  max-width: var(--wide-copy-width);
}

.center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* BG, Font Section Styling
----------------------------------------------- */

.bg-color-dark {
  background-color: #2B132A;
  color: #ddd;
}

.bg-color-med {
background-color: #DAD4DA;
color: #111;
}

.bg-color-med a {
  color: #111;
  border-bottom: 1px solid #111;
}

.bg-color-light {
  background-color: #ebebeb;
  color: #333;
}

.bg-color-light a {
  color: #333;
  border-bottom: 1px solid #333;
}

/* Nav
-------------------------------- */

header {
  margin: 0 auto;
  max-width: var(--copy-width);
  padding: 0 24px 0 24px;
  color: #eeeeee;
}

header {
  padding-top: 48px;
  line-height: 36px;
}

.header a {
  font-weight: lighter;
  text-decoration: none;
  color: #eeeeee;
  border-bottom: none;
}

.header a:hover, footer ul li a:hover, .fig-container a, .fig-container a:hover, {
  border-bottom: none;
}

.header h1 {
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: .2px;
  padding-top: 0;
}

.header h2 {
  font-size: 32px;
  padding-top: 16px;
  letter-spacing: .5px;
  font-weight: normal;
  color: #eee;
  padding-bottom: 0;
}

.separator-top {
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 24px;
}


/* Introduction
-------------------------------- */

.article-logo {
  max-width: 231px;
  padding-top: calc(1*var(--baseline-padding));
}

.bg-color-dark h1, .bg-color-dark p, .bg-color-dark h3, .bg-color-dark a, .bg-color-dark,  .flat-ul {
  color: #eee;
  max-width: 672px;
  margin: 0 auto;
  width: 100%;
}

.bg-color-dark a {
  border-bottom: 1px solid #eee;
}

.bg-color-dark h1 {
  font-size: 44px;
  text-align: center;
  padding-top: calc(1.5*var(--baseline-padding));
  padding-bottom: calc(1*var(--baseline-padding));
  line-height: 50px;
}

.bg-color-dark h2 {
  font-size: 32px;
  color: #eee;
  padding-bottom: 24px;
  padding-top: 24px;
}

.bg-color-dark p {
  padding-top: calc(.5*var(--baseline-padding));
  padding-bottom: calc(.5*var(--baseline-padding));
  font-weight: lighter;
}

.flat-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: calc(1*var(--baseline-padding));
  list-style: none;
  list-style: decimal;
  max-width: 580px;
}

.flat-ul a {
  font-size: 27px;
  border-bottom: 1px solid #eee;
}

/* Body
-------------------------------- */

article h1 {
  padding: 90px 0 0 0;
  font-size: 30px;
  line-height: 34px;
  color: #827281;
}


article h2 {
  padding: 56px 0 36px 0;
  font-size: 47px;
  line-height: 52px;
  color: #333333;
  letter-spacing: normal;
  max-width: 780px;
}

h1, h2, h3, h4, h5, figcaption {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

p {
  font-family: 'Calisto MT W01', 'Serif';
  text-align: left;
  font-weight: 400;
  font-size: 23px;
  line-height: 35px;
  padding: 0 0 28px 0;
}



h3 {
  font-size: 24px;
  line-height: 24px;
  padding: 18px 0 18px 0;
  color: #222;
  font-weight: 700;
  text-align: left;
}

h4 {
  font-size: 30px;
  line-height: 34px;
  padding: 24px 0 26px 0;
  color: #222;
}
h5 {
  font-family: 'Calisto MT W01', 'Serif';
  font-size: 19px;
  line-height: 24px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  padding-bottom: 20px;
}

.copy-ul, .copy-ol {
  padding: 0 0 var(--baseline-padding) calc(.7*(var(--baseline-padding)));
  line-height: var(--baseline-padding);
}

.copy-ol {
  padding-bottom: 24px;
}

.copy ul li, .copy ol li {
  font-family: 'Calisto MT W01', 'Serif';
  text-align: left;
  font-weight: 200;
  font-size: 23px;
  line-height: 35px;
}

.fig-container-col figcaption a {
  color: #555;
  border-bottom: 1px solid #555;
}

.fig-container-col figcaption a:hover {
  color: #759DDA;
  border-bottom: 1px solid #759DDA;
}

h6 {
  font-family: 'Calisto MT W01', 'Serif';
  font-size: 24px;
  line-height: 38px;
  font-style: italic;
  font-weight: normal;
}

/* Figures
-------------------------------- */

  .fig-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: calc(.5*(var(--baseline-padding)))
  }

  .fig-container-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--baseline-padding);
  }

  .fig-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
  }

  figcaption {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #555;
    display: block;
    padding: var(--baseline-padding) 0 calc(1.5*var(--baseline-padding)) 0;
  }

  .no-caption {
    padding: 0 0 calc(1.2*(var(--baseline-padding))) 0;
  }

  .paragraph-basic {
    padding: 0 0px 8px 0px;
    /* margin-right: 2em; */
    /* background-color: #f2f2f2; */
  }

  .paragraph-basic p {
    padding: 0 0 0 0;
  }

  .paragraph-container {
    padding: 8px 24px 18px 32px;
    /* background-color: #eee; */
    justify-content: center;
  }

  .survey-card {
    padding: .5em .2em 0em .5em;

  }

  .survey-container {
      /* border: 1.5px #777 solid; */
      padding: .7em 1em 1em 1em;
      margin: 0em 2em 0 0;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
  }


  /* Images
  -------------------------------- */

  .img-gif > *, .img-gif > * > * {
    max-width: 300px;
    width: 100%;
  }

  figcaption.img-gif {
    max-width: 672px;
  }

  .img-med > *, .img-med > * > * {
    max-width: 426px;
    width: 100%;
  }

  .img-med-big > *, .img-med-big > * > *, .img-med-big div a img {
    /* max-width: 760px; */
    max-width: var(--copy-width);
    width: 100%;
  }

  .img-small > *, .img-small > * > * {
    max-width: 253px;
  }

  .img-big > *, .img-big > * > * {
    max-width: 380px;
  }

  .img-big-half > *, .img-big-half > * > * {
    max-width: 550px;
  }

footer {
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 550px;
  padding: 0 1.5em 0 1.5em;
}

.footer {
  align-items: center;
  border-top: 1.5px solid #cfcfcf;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: .5em 0 .5em 0;
  position: relative;
}

footer p {
  font-size: .667em;
  line-height: 1.5em;
  padding: 0.5em 0 1em 0;
  margin: 0 0;
}

footer a{
  font-size: 1em;
}

.fig-container-row div {
  padding: 0 var(--baseline-padding) 0 var(--baseline-padding);
}

.copy-ol p {
  padding-top: 16px;
}

@media all and (max-width: 791px) {
  /* THIS IS WHEN IMAGES WRAP */

  header {
    padding-top: 11vw;
  }

  header h1 {
    font-size: 6.5vw;
    padding-top: 0;
    line-height: 1.2em;
  }

  .index-copy p {
    font-size: 23px;
    line-height: 33px;
  }

  .flat-ul {
    font-size: 23px;
    padding-top: 1vw;
    padding-bottom: 0vw;
    margin: 0 0;
    max-width: 80%;
    list-style: decimal;
    display: block;
    /* padding-left: 40px; */
  }

  .flat-ul li a {
    font-size: 23px;
    padding-bottom: 2vw;
    border-bottom: 0;
  }

  .fig-container-col .center-container {
    flex-direction: col;
    flex-wrap: wrap;
    max-width: 80%;
  }
}

@media all and (max-width: 436px) {

  header {
    padding-top: 10vw;
  }

  .header h1 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .header h2 {
    font-size: 6vw;
    line-height: 4vw;
  }

  .article-logo {
    max-width: 176px;
    padding: 3vw 0 2vw 0;
  }

  .bg-color-dark h1 {
    font-size: 7.5vw;
    line-height: 11vw;
    padding: 6vw 0 6vw 0;
  }

  .bg-color-dark p {
    font-size: 5.2vw;
    padding-top: 2vw;
    max-width: 100%;
    line-height: 8.2vw;
  }

  .bg-color-dark h2 {
    padding-top: 6vw;
    padding-bottom: 0;
    font-size: 7vw;
  }

  .flat-ul li a {
    font-size: 6vw;
    border-bottom: 0;
  }

  article h1 {
    font-size: 6vw;
    padding-top: 11vw;
    padding-bottom: 0vw;
  }

  article h2 {
    padding-top: 9vw;
    padding-bottom: 3vw;
    font-size: 8.5vw;
    line-height: 10vw;
  }

  article h3 {
    font-size: 5vw;
    line-height: 6vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
  }

  article h4 {
    font-size: 6vw;
    line-height: 8.5vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
  }

  article h5 {
    font-size: 4.3vw;
    line-height: 6vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
  }

  article p {
    font-size: 5.2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    max-width: 100%;
    line-height: 8.2vw;
  }

  article .copy-ul, article .copy-ol {
    padding-bottom: 3vw;
  }

  /* .bg-color-dark .copy .copy-ul li {
    font-size: 1vw;
  } */

  article .copy-ul li, article .copy-ol li {
    font-size: 5.2vw;
    line-height: 7.8vw;
    padding-top: 2.4vw;
    padding-bottom: 1.5vw;
    /* max-width: 95%; */
  }

  section {
    padding-bottom: 8vw;
  }

  article .fig-container {
    padding-top: 0;
  }

  article .fig-container-col {
    padding-left: 0;
    padding-right: 0;
  }

  /* article .fig-container-col div > * {
    padding-top: 3vw;
  } */

  article .fig-container-col figcaption {
    padding-top: 3vw;
    padding-bottom: 5vw;
    font-size: 4.5vw;
    line-height: 6.4vw;
  }

  article .no-caption {
    padding-bottom: 5vw;
  }

/* PROBLEMATIC */
  /* article .fig-container-col .center-container {
    flex-direction: col;
    flex-wrap: wrap;
    max-width: 80%;
    padding-left: 48px;
    padding-top: 0;
  } */

  article .fig-container-col div img, article .fig-container-col div video {
    padding-top: 5vw;
  }

  .fig-container-col figure figcaption {
    padding-left: 24px;
    max-width: 90%;
    margin-right: 0;
  }

  .paragraph-basic {
    padding-top: 0;
    padding-bottom: 0;
  }

  .paragraph-basic .copy-ul {
    padding-top: 0vw;
  }

  .paragraph-basic .copy-ul li {
    padding-bottom: 1vw;
    padding-top: 1vw;
  }

  .img-med-big > *, .img-med-big > * > *, .img-med-big div a img {
    max-width: 100%;
  }

  .survey-card {
    padding-top: 1vw;
  }

  .survey-container {
    margin-top: 2vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
    margin-right: 2px;
  }

  .single-caption {
    padding-left: 24px;
    max-width: 90%;
    margin-right: 0;
  }

}








@media all and (max-width: 740px) {

  .center-container {
    flex-wrap: wrap;
  }

  h5 {
    font-family: 'Calisto MT W01', 'Serif';
    font-size: 19px;
    line-height: 28px;
  }

  .hide {
    padding: 0;
    margin: 0;
  }

  .img-banner {
    display: none;
  }

  figure {
    padding: 0;
    margin: 0;
  }

 .fig-container-row div {
    padding: 0 0 var(--baseline-padding) 0;
    width: 100%;
  }

  .bg-color-dark figcaption {
    padding: var(--baseline-padding) 0 0 0;
  }


  .row-paragraph {
    padding: var(--baseline-padding);
    padding-left: calc(2*var(--baseline-padding));
    background-color: #eee;
    width: 100%;
  }

  .row-paragraph > * {
    margin: 0 auto;
  }

    /*
    This CSS resource incorporates links to font software which is the valuable copyrighted
    property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
    redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
    Imaging with any questions regarding Web Fonts:  http://www.fonts.com
    */
