
/* Variables
-------------------------------- */
  :root {
    --primary-bg-color: #2B132A;
    --alt-bg-color: #2C0D2A;


    --body-font-size: 22px;
    --line-height: 35px;
    --large-line-height: 70px;
    --baseline-padding: 35px;


    --side-padding: 0 1em 0 1em;

    --font-size-xl: ;
    --font-size-l: 48px;
    --font-size-m: 33px;
    --font-size-s: ;
    --font-size-xs: ;

    --copy-width: 672px;
    --wide-copy-width: 740px;
    --extra-wide: 880px;
    --img-mobile-width: 300px;
  }

/* Structure
-------------------------------- */

 * {
   padding: 0;
   margin: 0;
   position: relative;
 }

  body {
    font-size: var(--body-font-size);
    background-color: var(--primary-bg-color);
  }

/* Nav
-------------------------------- */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .9em 0 .6em 0em;
  }

  .header-logo {
    max-width: 3.6667em;
    padding-left: 1.5em;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    padding: 0em 2em .1em 0em;
    list-style: none;
  }

  nav ul li a {
      text-decoration: none;
      color: #cfcfcf;
      font-family: 'Georgia', 'Serif';
      font-size: 24px;
  }

  nav a:hover {
      color: #759DDA;
    }



/* Body
-------------------------------- */

  section > * {
    padding: var(--side-padding);
  }

  section {
    padding-bottom: calc(2*var(--line-height));
  }

  .copy, .wide-copy {
    margin: 0 auto;
    text-align: left;
  }

  .copy {
    max-width: var(--copy-width);
  }

  .wide-copy {
    max-width: var(--wide-copy-width);
  }

/* Introduction
-------------------------------- */

  .article-logo {
    max-width: 231px;
    padding: calc(2*var(--baseline-padding)) 0 0 0;
  }

  .bg-color-dark {
    background-color: #4F434E;
    color: #eee;
  }

  .bg-color-dark h1 {
    padding: calc(2.8*var(--baseline-padding)) 0 0 0;
  }

  .bg-color-dark p {
    padding: calc(0.5*var(--baseline-padding)) 0 0 0;
  }

  .bg-color-dark h2 {
    font-size: var(--line-height);
    color: #EEE;
    text-align: center;
    padding: calc(2.5*var(--baseline-padding)) 0 0 0;
  }

  .bg-color-dark h3, .bg-color-body h3 {
    font-size: 1.3636em;
    font-weight: bold;
    color: #eee;
    padding: calc(1.5*var(--baseline-padding)) 0 0 0;
  }

  .bg-color-dark a {
    font-size: .em;
  }

  .chapters {
    padding-top: calc(2*var(--baseline-padding));
    max-width: var(--copy-width);
    width: 100%;
  }

  .flat-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* max-width: var(--copy-width);  */
  }

  .flat-ul li {
    display: flex;
    line-height: var(--line-height);
    align-self: baseline;
    color: #eee;
    font-weight: normal;
    line-height: var(--line-height);
    text-decoration: none;
  }

  .flat-ul a {
    text-decoration: none;
    color: #eee;
    font-size: 30px;
  }

  .flat-ul a:hover {
    color: #999;
    font-weight: normal;
    line-height: var(--line-height);
    text-decoration: none;
  }

  .bg-color-dark h1 {
    font-size: 44px;
    text-align: center;
    color: #eee;
  }

  .bg-color-dark a {
    color: #eee;
    font-weight: normal;
    line-height: var(--line-height);
    /* text-decoration: none; */
  }

  .bg-color-dark a:hover {
    color: #999;
    font-weight: normal;
    line-height: var(--line-height);
    text-decoration: none;
  }

  .bg-color-dark .fig-container-row div img {
    padding: calc(2*var(--baseline-padding)) var(--baseline-padding) 0 var(--baseline-padding);
  }

  .bg-color-dark figcaption {
    text-align: center;
    display: block;
    padding: var(--baseline-padding) 0 calc(2*var(--baseline-padding)) 0;
    color: #ccc;
  }

  .bg-color-body {
    background-color: #2B132A;
  }

  .bg-color-body h3 {
    color: #eee;
  }


  /* .bg-color-dark .fig-multi-caption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--baseline-padding);
  }

  .bg-color-dark .fig-single-caption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--baseline-padding);
  } */

  /* Figures
  -------------------------------- */

  .fig-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: calc(.5*(var(--baseline-padding)))
  }

  .fig-container-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--baseline-padding);
  }

  .fig-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
  }

  figcaption {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #555;
    display: block;
    padding: var(--baseline-padding) 0 calc(1.5*var(--baseline-padding)) 0;
  }

  .no-caption {
    padding: 0 0 calc(1.2*(var(--baseline-padding))) 0;
  }

  .center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .paragraph-basic {
    padding: 0 0px 8px 0px;
    min-width: 200
    px;
    /* margin-right: 2em; */
    /* background-color: #f2f2f2; */
  }

  .paragraph-basic p {
    padding: 0 0 0 0;
  }

  .paragraph-container {
    padding: 8px 24px 18px 32px;
    /* background-color: #eee; */
    justify-content: center;
  }


  /* Images
  -------------------------------- */

  .img-gif > *, .img-gif > * > * {
    max-width: 300px;
    width: 100%;
  }

  figcaption.img-gif {
    max-width: 672px;
  }

  .img-med > *, .img-med > * > * {
    max-width: 426px;
    width: 100%;
  }

  .img-med-big > *, .img-med-big > * > * {
    /* max-width: 760px; */
    max-width: var(--copy-width);
    width: 100%;
  }

  .img-small > *, .img-small > * > * {
    max-width: 253px;
  }

  .img-big > *, .img-big > * > * {
    max-width: 380px;
  }

  .img-big-half > *, .img-big-half > * > * {
    max-width: 550px;
  }

  /* Headings, Text Stylings
  ----------------------------------------------- */

  .survey-card {
padding: .5em .2em 0em .5em;


    /* margin: 0em 1.5em 0em 1.5em; */
  }

  .survey-container {
      /* border: 1.5px #777 solid; */
      padding: 0em 1em 1.4em 1em;
      margin: .5em 2em 0 0;
      border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    /* min-height: 640px; */
  }

  h1, h2, h3, h4, h5, figcaption {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
  }

  p {
    font-family: 'Calisto MT W01', 'Serif';
    text-align: left;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    padding: 0 0 28px 0;
  }

  .bg-color-med h1, .bg-color-light h1 {
    padding: 90px 0 0 0;
    font-size: 30px;
    line-height: 34px;
    color: #827281;
  }


  .bg-color-med h2, .bg-color-light h2 {
    padding: 56px 0 36px 0;
    font-size: 47px;
    line-height: 52px;
    color: #333333;
    letter-spacing: normal;
    max-width: 780px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
    padding: 18px 0 18px 0;
    color: #222;
    font-weight: 700;
    text-align: left;
  }

  h4 {
    font-size: 30px;
    line-height: 34px;
    padding: 24px 0 26px 0;
    color: #222;
  }
  h5 {
    font-family: 'Calisto MT W01', 'Serif';
    font-size: 19px;
    line-height: 24px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    /* padding-bottom: 8px; */
  }

  .copy-ul, .copy-ol {
    padding: 0 0 var(--baseline-padding) calc(.7*(var(--baseline-padding)));
    line-height: var(--baseline-padding);
  }

  .copy ul li, .copy ol li {
    font-family: 'Calisto MT W01', 'Serif';
    text-align: left;
    font-weight: 200;
    font-size: 23px;
    line-height: 35px;
  }

  section a, figcaption a {
    color: #111;
    line-height: 35px;
  }

  a:hover {
    color: #555;
  }

  /* Section Styling
  ----------------------------------------------- */



  .bg-color-med {
    background-color: #DAD4DA;
    color: #111;
  }

  .bg-color-light {
    background-color: #ebebeb;
    color: #333;
  }

  .bg-color-mid h1 {
    color: #666;
  }

  .bg-color-light h1 {
    color: #999;
  }

  h6 {
    font-family: 'Calisto MT W01', 'Serif';
    font-size: 24px;
    line-height: 38px;
    font-style: italic;
    font-weight: normal;
  }

  /* Extra Unused

 blockquote {
     text-align: center;
     font-style: italic;
     color: #444;
     line-height: 1.36em;
     margin: .5em auto 1.2em;
     font-size: 1.7em;
     max-width: 888px;
 }

 .line-mid {
   background-color: #CCC;
   width: 2em;
   height: 2px;
   margin: 1.5em auto 2em auto;
 }

 .line-light {
   background-color: #BAB1B9;
   width: 5em;
   height: 2px;
   margin: 2em auto 0em auto;
 }

 */

  /* Data Section
  -------------------------------- */
/*

    .bg-color-data {
       color: #111;
    }

    .col {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      padding: 0;
    }

    .data-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .data-container {
      align-self: start;
      justify-content: start;
    }

    .data-wrapper ul li, .data-wrapper ol li {
      font-size: 1.2em;
      font-family: 'Calisto MT W01', 'Serif';
      line-height: 1.5em;
      font-weight: lighter;
      padding-top: 1em;
      list-style: none;
    }

    .data-wrapper ul li:first-child, .data-wrapper ol li:first-child {
      padding-top: .5em;
    }

    .copy-data {
      width: var(--copy-width);
      margin: 0 16px;
      padding-top: .5em;
      background-color: #4759FF;
    }

    .copy-data h3 {
      margin: 0 auto;
    }

    .fig-data {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 900px;
    }

    .data-container {

    }

    .data-header {
      color: #eee;
      padding: 36px 100px;
      background-color: #111;
    }

    .data-body {
      display: flex;
      flex-direction: column;
      padding: 16px;
    }

     */

     footer {
       font-size: 24px;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       max-width: 550px;
       padding: 0 1.5em 0 1.5em;
     }

     .footer {
       align-items: center;
       border-top: 1.5px solid #cfcfcf;
       display: flex;
       flex-direction: row;
       width: 100%;
       justify-content: space-between;
       flex-wrap: wrap;
       margin: .5em 0 .5em 0;
       position: relative;
     }

     footer p {
       /* margin: 0 auto; */
       /* width: 550px; */
       font-size: .667em;
       line-height: 1.5em;
       padding: 0.5em 0 1em 0;
       margin: 0 0;
     }

     footer a{
       font-size: 1em;

     }

     .fig-container-row div {
        padding: 0 var(--baseline-padding) 0 var(--baseline-padding);
      }

@media all and (max-width: 740px) {

  .center-container {
    flex-wrap: wrap;
  }

  .hide {
    padding: 0;
    margin: 0;
  }

  .img-banner {
    display: none;
  }

  figure {
    padding: 0;
    margin: 0;
  }

 .fig-container-row div {
    padding: 0 var(--baseline-padding) var(--baseline-padding) var(--baseline-padding);
  }

  .bg-color-dark figcaption {
    padding: var(--baseline-padding) 0 0 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0;
    flex-wrap: wrap;
  }

  nav ul li {
    flex-wrap: wrap;
    padding: 0em 1.5em .1em 0em;
  }

  .row-paragraph {
    padding: var(--baseline-padding);
    padding-left: calc(2*var(--baseline-padding));
    background-color: #eee;
    width: 100%;
  }

  .row-paragraph > * {
    margin: 0 auto;
  }

  .flat-ul li {
    /* max-width: inherit;
    text-align: left;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    line-height: 66px; */
  }

/*
  .icon-figure {
    margin: 0 1em;
    align-content: center;
  }

  .basic-figure {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }

  .basic-figure > * {
    max-width: 100%;
  }

  .icon-figure > * {
    max-width: 100%;
    padding: 1em 1em;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .vertical-bar {
    display: none;
  }

  .data-container {
    align-self: start;
    justify-content: start;
    margin: 0 .5em;
  }

  .data-container ul {
    padding-left: .5em;
    padding-bottom: 0em;
  }


  @media all and (max-width: 640px) {
    .icon-figure {
      flex-wrap: wrap;
    }

    .icon-figure > * {
      max-width: 100%;
    }

    .video {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .long-fig-caption-light {
      padding: 1em 1em 0 1em;
    }

    .wide-figure {
      flex-wrap: wrap;
    }

    nav {
      flex-wrap: wrap;
    } */


    /*
    This CSS resource incorporates links to font software which is the valuable copyrighted
    property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
    redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
    Imaging with any questions regarding Web Fonts:  http://www.fonts.com
    */
