/* Importing FagoNo Regular */
@import url(//db.onlinewebfonts.com/c/23178151f2a35dd93224374c02489308?family=FagoNo);

@font-face {
  font-family: "FagoNo";
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot");
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.svg#FagoNo") format("svg");
}

/* Importing FagoNo-Medium */
@import url(//db.onlinewebfonts.com/c/5c06042dd2780c6cf51c213e80adfa39?family=FagoNo);

@font-face {
  font-family: "FagoNo-Medium";
    src: url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.eot");
    src: url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5c06042dd2780c6cf51c213e80adfa39.svg#FagoNo") format("svg");
}

/* Importing Calisto MT */
@import url(//db.onlinewebfonts.com/c/2568e173df3a278bff48d9926aa656f6?family=Calisto+MT);

@font-face {
  font-family: "Calisto MT";
    src: url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.eot");
    src: url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/2568e173df3a278bff48d9926aa656f6.svg#Calisto MT") format("svg");
}

/* Variables
-------------------------------- */

  :root {
    --copy-width: 672px;
    /* --copy-margin-width: 64px; */
    /* --img-max-width: 240px; */
  }

/* Structure
-------------------------------- */

  body {
    margin: 0;
    /* background-color: #2C0D2A; */
    background-color: #2B132A;
    /* font-size: 137.5%; */
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 0em;
  }

  /* Spacing
  -------------------------------- */

  section {
    padding: 1em 0 2.5em 0;
  }

  nav ul li {
    padding: 0em 3em 0em 0em;
    list-style: none;
    text-align: center;
  }

  .copy-data {
    width: var(--copy-width);
    margin: 0 16px;
    padding-top: .5em;
    background-color: #4759FF;
  }

  .copy-data h3 {
    margin: 0 auto;
  }

  figcaption {
    margin: 0 auto;
  }

  .end {
    /* padding-bottom: 10em; */
  }


  .copy {
    max-width: var(--copy-width);
    margin: 0 16px;
    padding-top: .5em;
  }

/* Image Structure
-------------------------------- */

  figure {
    margin: 0;
  }

  section > * {
    padding: 1em 0;
  }

  .wide-figure {
    display: flex;
    justify-content: center;
    padding: 0em 0;
  }

  /* .semi-wide-figure {
    display: flex;
    justify-content: center;
  } */

  .icon-figure {
    display: flex;
    align-items: center;
    margin: 0 4em;
    padding: 1em 0;
    max-width: calc(var(--copy-width)+var(--copy-margin-width));
  }

  .icon-figure-small {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 888px;
  }

  .icon-figure-small > * {
    display: flex;
    align-items: center;
    /* margin: 0 .5em; */
  }


  .icon-figure > * {
    padding: 1em 2em;
  }

  .img-container > img {
    max-width: 100%;
  }

  .video {
    display: flex;
    position: relative;
  }

  .video iframe {
    width: 100%;
    height: 100%;
    width: 888px;
    height: 387px;
    margin: 0 auto;
  }

  #case-logo {
    max-width: 160px;
    padding-bottom: 1.2em;
  }

  .icon-fig-caption-light {
    padding: 1em 1em 0 0;
    margin-top: 1em;
    max-width: 920px;
    font-family: 'Calisto MT', 'Serif';
    font-style: italic;
    text-align: center;
    color: #666;
    /* display: block; */
  }

  .long-fig-caption-light {
    padding: 1em 4em 1em 4em;
    font-family: 'Calisto MT', 'Serif';
    font-style: italic;
    text-align: left;
    line-height: 1.5em;
    color: #333;
    display: block;
    max-width: 816px;
    /* background-color: white; */
  }

  .icon-fig-caption-mid {
    font-style: italic;
    color:
  }

/* Data Structure
-------------------------------- */

  .col {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* padding: 0 0 2em 0; */
    align-items: center;
    padding: 0;
  }

  /* .data-figure {
    padding: 1.5em 0px 2em 0px;
    background-color: #575757;
    color: #f1f1f1;
  } */

  .data-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5em 0;
  }

  .data-container {
    align-self: start;
    justify-content: start;
    max-width: 28em;
    min-width: 14em;
    margin: 0 1em;
  }

  .data-wrapper ul li, .data-wrapper ol li {
    font-size: 1.2em;
    font-family: 'Calisto MT', 'Serif';
    line-height: 1.5em;
    font-weight: lighter;
    padding-top: 1em;
    list-style: none;
  }

  .data-wrapper ul li:first-child, .data-wrapper ol li:first-child {
    padding-top: .5em;
  }

  /* Headings, Text Stylings
  ----------------------------------------------- */

  h1 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.4em;
    font-weight: lighter;
    text-align: left;
    padding: 1.8em 0 0 0;
    margin: 0 auto;
  }

  h2 {
      font-family:'FagoNo', 'Sans-Serif';
      font-size: 1.8em;
      letter-spacing: .04em;
      text-align: left;
      padding: 1.8em 0 1.3em 0;
      margin: 0 auto;
      color: #333;
      /* font-weight: bold; */
  }

  h3, h4 {
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: lighter;
    /* text-align: center; */
    /* font-style: bold; */
    /* margin: 0 auto; */
  }

  h3 {
    font-size: 1.5em;
    /* margin-bottom: 0em; */
    padding: 1.5em 0 .5em 0;
    /* background-color: #4759FF; */

  }

  h4 {
    font-size: 1.2em;
    padding: .5em 0 .5em 0;
  }

  h5 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.2em;
    font-weight: bolder;
    padding: 2em 0 0 0;
  }

  h6 {
    font-family: 'Calisto MT', 'Serif';
    font-size: 1em;
    line-height: 1.5em;
    font-weight: bold;
    list-style: none;
    margin: 0;
    /* text-align: center; */

  }

  p {
    font-family:'Calisto MT', 'Serif';
    text-align: left;
    font-size: 22px;
    line-height: 33px;
    padding: .5em 0 .5em 0;
    margin: 0 auto;
  }

  a {
      text-decoration: none;
      color: #BBB;
      font-weight: lighter;
  }
  a:hover {
      color: #f2f2f2
  }

  section a {
    font-weight: bolder;
    /* text-decoration: underline; */
    color: #111;
  }

  section a:hover {
    color: #666;
  }

  nav ul li {
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: lighter;
    padding: 0em 3em 0em 0em;
    font-size: 1.1em;
  }

  .bg-color-light li, .bg-color-mid li {
    font-family:'Calisto MT', 'Serif';
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: .25em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-color-light h4, .bg-color-mid h4 {
    text-align: center;
    padding: 1.5em 0 0em 0;
  }

  .bg-color-light h3, .bg-color-mid h3 {
    text-align: center;
    padding: 1.5em 0 .5em 0;
    margin-bottom: 0;
  }

  /* Section Styling
  ----------------------------------------------- */

  .bg-color-dark {
    /* background-color: #3D3D3D; */
    background-color: #4F434E;
    color: #eee;
    /* padding: 3.5em 0 4.5em 0; */
  }

  .bg-color-data {
     /* background-color: #595359; */
     color: #111;
     /* padding: 3.5em 0 4.5em 0; */
  }

  .bg-color-mid {
    /* background-color: #D4C5D3; */
    background-color: #D6CBD5;
    color: #111;
  }

  .bg-color-light {
    background-color: #EEE;
    color: #333;
  }

  .bg-color-dark h1 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.8em;
    padding: 1.5em 0 1em 0;
    letter-spacing: .12rem;
    text-align: center;
    color: #eee;
  }

  .bg-color-dark p {
    text-align: center;
  }

  .bg-color-mid h1 {
    color: #666;
  }

  .bg-color-light h1 {
    color: #999;
  }

  #role h1 {
    font-family:'FagoNo', 'Sans-Serif';
    font-size: 1.8em;
    color: #111;
    font-weight: bold;
    letter-spacing: .04em;
    text-align: left;
    padding: 1.5em 0 1em 0;
  }

  .vertical-bar {
    background-color: #4F434E;
    width: 1em;
    height: 360px;
  }

  blockquote {
      text-align: center;
      font-style: italic;
      color: #444;
      line-height: 1.36em;
      margin: .5em auto 1.2em;
      font-size: 1.7em;
      max-width: 888px;

  }

  .line-mid {
    background-color: #CCC;
    width: 5em;
    height: 2px;
    margin: 1.5em auto 2em auto;
  }

  .line-light {
    background-color: #BAB1B9;
    width: 5em;
    height: 2px;
    margin: 2em auto 0em auto;
  }


  /* Figures
  ----------------------------------------------- */

  /* Main Logo
  ----------------------------------------------- */

  #main-logo {
    height: 4em;
    width: 5em;
    padding: 1.5em 2.5em 1.5em 2.5em;
  }




@media all and (max-width: 1024px) {

  .icon-figure {
    margin: 0 1em;
    align-content: center;
  }

  .basic-figure {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }

  .basic-figure > * {
    max-width: 100%;
  }

  .icon-figure > * {
    max-width: 100%;
    /* flex-grow: 1; */
    padding: 1em 1em;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .vertical-bar {
    display: none;
  }

  .data-container {
    align-self: start;
    justify-content: start;
    /* max-width: 100%; */
    /* min-width: 14em; */
    margin: 0 .5em;
  }

  .data-container ul {
    padding-left: .5em;
    padding-bottom: 0em;
  }


  @media all and (max-width: 640px) {
    .icon-figure {
      flex-wrap: wrap;
    }

    .icon-figure > * {
      max-width: 100%;
    }

    .video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }

    .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .long-fig-caption-light {
      padding: 1em 1em 0 1em;
    }

    .wide-figure {
      flex-wrap: wrap;
    }

    nav {
      flex-wrap: wrap;
    }
