@font-face {
    font-family: FagoNo;
    src: url("/Fonts/FagoNo.otf") format("opentype");
}

@font-face {
    font-family: FagoNo;
    font-weight: bold;
    src: url("/Fonts/FagoNo-Bold.otf") format("opentype");
}

@font-face {
    font-family: FagoNo;
    font-weight: medium;
    src: url('/Fonts/FagoNo-Medium.otf') format("opentype");
}

@font-face {
  font-family: Calisto MT;
  src: url('/Fonts/Calisto MT.otf') format("opentype");
}

body {
    background-color: #2C0D2A;
    margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 7em auto 1fr;
  grid-template-rows: auto auto 25% 25% auto;
  grid-template-areas:
  "h h h h"
  "n n n n"
  ". i1 c1 ."
  ". i2 c2 ."
  "f f f f";
  grid-column-gap: 1em;
}

#logo-item {
  grid-area: h;
  display: block;
  justify-self: center;
  padding-top: 3.2em;
  padding-bottom: 3.5em;
}

#logo-item img{
  height: 6em;
}

#nav-item {
  grid-area: n;
  background-color: #3D3D3D;
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  text-align: center;
  padding-right: 2.3em;
}

#nav-item ul li, footer ul li {
  display: inline-block;
  width: 20%;
}

#michael-img {
  grid-area: i1;
  align-self: center;
}

#lumened-img {
  grid-area: i2;
}

#lumened-text {
  grid-area: c2;
}

#michael-text {
  grid-area: c1;
}

.case-summary {
  padding-top: 4em;
  padding-left: 1em;
  height: 7em;
  width: 70%;
  min-width: 22.5em;
  max-width: 42.5em;
}

#michael-img img {
  padding-top: 4em;
  height: 7em;
  display: block;
}

#lumened-img img {
  padding-top: 4em;
  height: 7em;
  display: block;
}

footer {
  grid-area: f;
  display: none;
}

a {
    text-decoration: none;
    color: #ddd;
}
a:hover {
    /* text-decoration: underline; */
    color: #fff;
}

h1 {
    font-size: 1.5em;
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: medium;
}
p {
  font-family:'FagoNo', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
    font-weight: ligher;
}


@media screen and (max-width: 39.9375em) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
  "h"
  "n"
  "i1"
  "c1"
  "i2"
  "c2"
  "f"
}
.case-summary {
  padding-top: 2em;
  padding-left: 1em;
  height: 7em;
  justify-self: center;
  /* min-width: 22.5em;
  max-width: 42.5em; */
}

#michael-img {
  justify-self: center;
}

#lumened-img {
  padding-top: 3em;
  justify-self: center;
}
}
