/* Main */

* {
  margin: 0;
  padding: 0;
}

body {
    font-size: 24px;
    line-height: 32px;
    background-color: #2B132A;
    color: #eeeeee;
    font-family: 'Source Sans Pro', 'Sans-Serif';
    letter-spacing: .1px;
}

header, main, footer {
  margin: 0 auto;
  max-width: 464px;
  padding: 0 40px 0 40px;
}

header {
  padding-top: 80px;
  line-height: 36px;
}

.header a {
  font-weight: lighter;
  text-decoration: none;
  color: #eeeeee;
  border-bottom: none;
}

.header a:hover, footer ul li a:hover {
  color: #759DDA;
}

.header h1 {
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: .2px;
}

.header h2 {
  font-size: 32px;
  padding-top: 16px;
  letter-spacing: .5px;
  font-weight: normal;
}

.separator-top {
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 24px;
}

.center-img {
  max-width: 176px;
  margin: 0 auto;
  padding-top: 10px;
  /* padding-bottom: 2px; */
}

.resume-img {
  max-width: 464px;
  margin: 0 auto;
}

.emoji {
  font-size: 27px;
}
.emoji-big {
  font-size: 32px;
}

.index-copy p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 33px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.body-copy p, .work-copy p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 24px;
  letter-spacing: 0px;
}

.body-copy h1 {
  font-weight: normal;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
  letter-spacing: .3px;
}

.work-copy h1 {
  font-weight: normal;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 0px;
  letter-spacing: .3px;
}

.work-copy h2 {
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;
  padding-bottom: 16px;
  letter-spacing: .3px;
}

.work-copy p {
  padding-bottom: 32px;
}

.body-copy a, .work-copy p a {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.body-copy a:hover, .work-copy p a:hover, .contact-copy a:hover {
  color: #759DDA;
  border-bottom: 1px solid #759DDA;
}

.contact-copy p {
  padding-top: 24px;
  line-height: 40px;
}

.contact-copy a {
  color: #eee;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

main a {
  text-decoration: none;
}

a .work-copy  {
  color: #eee;
  text-decoration: none;
}

a:hover .work-copy h1, a:hover .work-copy h2 {
  color: #759DDA;
  text-decoration: none;
}

.work-div-break {
  height: 24px;
}

.separator-bottom {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  max-width: 464px;
}

footer ul li {
  display: inline-block;
  margin-right: 32px;
  font-size: 28px;
}

footer a, footer p {
  color: #eee;
  text-decoration: none;
  border-bottom: 0;
  font-weight: lighter;
  font-size: 28px;
}

footer a:hover {
  text-decoration: none;
  border-bottom: none;
}

footer {
  padding-bottom: 40px;
}

main h2 {
  font-weight: normal;
  font-size: 24px;
}

@media all and (max-width: 791px) {

  /* body {
    padding: 2em 2em .5em 2em;
  } */

  /* body > * {
    padding: 0;
  } */

  h1 {
    font-size: 6.5vw;
    padding-top: 0;
    line-height: 1.2em;
  }

  /* h2 {
    font-size: 5.1vw;
    line-height: 2em;
    /* padding-bottom: 8px;
  } */

  .work-card-copy h3 {
    padding-top: 16px;
  }

  .card {
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .index-card-img {
    /* max-width: 300px; */
    max-width: 60vw;
    padding-right: 0;
  }

  .index-card-copy h3, .callout {
    font-size: 4vw;
    padding-top: 24px;
    max-width: 100%;
    line-height: 6.8vw;
  }

  .about_me h3 {
    font-size: 4vw;
    padding-top: 40px;
    max-width: 100%;
    line-height: 5.8vw;
  }

  .index-card-copy p {
    max-width: 100%;
    font-size: 4vw;
    line-height: 6.8vw;
  }

  .tiny {
    display: block;
  }

  .standard {
    display: none;
  }

  .copyright, .copyright a {
    padding-top: 16px;
    font-size: 4vw;
  }

  .bottom {
    margin-top: 16px;
  }

  footer ul li {
    /* margin-left: 1px; */
    /* margin-right: 1em; */
    /* padding-top: 24px;
    padding-bottom: 8px;
    font-size: 4.6vw; */
  }

  nav ul li a {
    margin-left: 0em;
    font-size: 1em;
  }

  p, ul li {
    font-size: .9em;
  }

  a {
    font-size: 1em;
  }

  .index-card  {
    padding-bottom: 32px;
  }

}

@media all and (max-width: 558px) {

  .index-card-img {
    max-width: 100%;
    /* padding-right: 56px; */
  }

  main h3, .callout {
    line-height: 7vw;
  }

  main p {
    line-height: 7vw;
  }

  .index-card  {
    padding-bottom: 20px;
  }

  footer ul li {
    /* padding-top: 24px;
    padding-bottom: 8px; */
  }

}
