@font-face {font-family: "FagoNo";
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot");
    src: url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/23178151f2a35dd93224374c02489308.svg#FagoNo") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

body {
    font-size: 24px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    background-color: #2C0D2A;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 15em;
  max-width: 22em; */
}

.nav-logo {
  max-width: 5.5em;
  padding-top: 5.375em;
  margin: 0 auto;
}

.site-title {
  padding-right: 6.8em;
  align-self: flex-start;
  min-width: 8.2em;
}

nav {
  display: flex;
  flex-direction: row;
  width: 550px;
  margin: 2.8em 0 2em 0;
  border-bottom: 1.5px solid #cfcfcf;
}

nav a {
  text-decoration: none;
}

nav ul {
  /* margin: 0 auto; */
  display: flex;
  /* align-self: flex-end; */
  /* align-items: flex-end;
  justify-content: flex-end; */
}

nav ul li {
  padding-left: 1em;
  align-self: flex-end;
}

main {
  width: 550px;
  margin: 0 auto;
  border-bottom: 1.5px solid #cfcfcf;
}

/* .site-content:first-child {
  text-indent: 0;
}

.site-content p {
  text-indent: 1.5em;
} */

a:hover {
    color: #759DDA;
}

p, ul li, a {
  list-style: none;
  /* padding: 0; */
  /* margin: 0; */
  color: #cfcfcf;
  font-family: 'Georgia', 'Calisto MT', 'Serif';
  font-size: 24px;
  font-weight: lighter;
}


h2, footer p, footer a {
  color: #887A87;
  font-family:'Helvetica','FagoNo', 'Sans-Serif';
  font-weight: normal;
  padding-bottom: .7em;
}

h2 {
  font-size: .667em;
}

.personal-photo {
  padding: 2em 0 1.778em 0;
  max-width: 550px;
}

.personal-details {
  padding-bottom: 1.778em;
}

.personal-details ul {

}

footer {
  display: flex;
  padding: 0.5em 0 1em 1.778em;
  font-size: 24px;
  justify-content: center;
  /* align-self: center; */

}

footer p {
  /* margin: 0 auto; */
  min-width: 6.5em;
  font-size: .667em;
  /* max-width 550px; */
}

footer a{
  font-size: 1em;

}

/* ------------------- */
/*
#logo {
  display: flex;
  justify-content: center;
  padding: 3.5em 0 3.5em 0;
  list-style: none;
}

#logo img {
  height: 6.5em;
}

nav img {
  max-width: 5.5em;
  padding: 6px 0 0 38px;
} */



/* nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  width: 40%;
} */

/* nav ul li {
  padding-right: 4em;
} */
/*
nav ul li a {
  font-family:'FagoNo', 'Sans-Serif';
  font-size: 24px;
} */
/*
a {
    text-decoration: none;
    color: #bbb;
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: lighter;
}

a:hover {
    color: #fff;
}

.top h1, .top h2, .top h3, .top p {
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: lighter;
    color: #aaa;
}

p {
    font-size: 22px;
    line-height: 31px;
}

.top h1 {
  font-family:'FagoNo', sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: normal;
  padding: 56px 0 56px 0;
  color: #bbb;
}

h1, h2, h3, p {
    font-family:'FagoNo', 'Sans-Serif';
    font-weight: normal;
    color: #aaa;
}

h1 {
  font-family:'FagoNo', sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: normal;
  padding: 24px 0 56px 0;
  color: #222;
  padding: 76px 0 70px 0

}

h2 {
  font-family:'FagoNo', sans-serif;
  font-size: 32px;
  letter-spacing: .5px;
  font-weight: lighter;
  line-height: 40px;
  padding: 0 0 8px 0;
  color: #222;
}

.cs-summary p {
  color: #222;
}

h3 {
  color: #666;
  padding: 0 0 32px 0;
  font-style: italic;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 400px;
  padding-right: 38px;
}

.profile-summary {
  display: flex;
  flex-direction: column;
}

.profile-summary p {
  max-width: 432px;
  line-height: 28px;
  padding-bottom: 28px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-summary {
  max-width: 299px;
  padding: 0 76px;
}

.about-summary p {
  color: #888;
  padding-bottom: 28px;
}

.case-img {
  max-width: 250px;
  padding-right: 75px;
}

.cs-summary {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-width: 432px;
}

.cs-container {
  padding-bottom: 72px;
}

.top {
  background-color: #2B132A;
  padding-bottom: 60px;
}

.mid {
  background-color: #2B132A;
}

.bottom {
  background-color: #2B132A;

}

@media screen and (max-width: 39.9375em) {

#logo {
  display: flex;
  justify-content: center;
  padding: 3em 0 3em 0;
}

.center-row {
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-family:'FagoNo', 'Sans-Serif';
  font-weight: lighter;
  width: 70%;
}

.summary {
  flex-wrap: wrap;
} */
