/* Main */

* {
  margin: 0;
  padding: 0;
}

body {
    font-size: 24px;
    line-height: 32px;
    background-color: #2B132A;
    color: #eeeeee;
    font-family: 'Source Sans Pro', 'Sans-Serif';
    letter-spacing: .1px;
}

header, main, footer {
  margin: 0 auto;
  max-width: 464px;
  padding: 0 32px 0 32px;
}

header {
  padding-top: 96px;
  line-height: 36px;
}

.header a {
  font-weight: lighter;
  text-decoration: none;
  color: #eeeeee;
  border-bottom: none;
}

.header a:hover, footer ul li a:hover {
  color: #759DDA;
}

.header h1 {
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: .2px;
}

.header h2 {
  font-size: 32px;
  padding-top: 16px;
  letter-spacing: .5px;
  font-weight: normal;
}

.separator-top {
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 24px;
}

.center-img {
  max-width: 176px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 4px;
}

.resume-img {
  max-width: 464px;
  margin: 0 auto;
}

.emoji {
  font-size: 27px;
}
.emoji-big {
  font-size: 32px;
}

.index-copy p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 33px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.body-copy p, .work-copy p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 24px;
  letter-spacing: 0px;
}

.body-copy h1 {
  font-weight: normal;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
  letter-spacing: .3px;
}

.work-copy h1 {
  font-weight: normal;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 0px;
  letter-spacing: .3px;
  /* border-bottom: 1px solid #eee; */

}

.work-copy h2 {
  font-weight: lighter;
  font-style: italic;
  font-size: 24px;
  padding-bottom: 16px;
  letter-spacing: .3px;
}

.work-copy p {
  padding-bottom: 32px;
}

.body-copy a, .work-copy p a {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.body-copy a:hover, .work-copy p a:hover, .contact-copy a:hover {
  color: #759DDA;
  border-bottom: 1px solid #759DDA;
}

.contact-copy p {
  padding-top: 24px;
  line-height: 40px;
}

.contact-copy a {
  color: #eee;
  font-weight: lighter;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

main a {
  text-decoration: none;
}

a .work-copy  {
  color: #eee;
  text-decoration: none;
}

a:hover .work-copy h1, a:hover .work-copy h2 {
  color: #759DDA;
  text-decoration: none;
}

.work-div-break {
  height: 24px;
}

.separator-bottom {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  max-width: 464px;
}

footer ul li {
  display: inline-block;
  margin-right: 32px;
  font-size: 28px;
}

footer a, footer p {
  color: #eee;
  text-decoration: none;
  border-bottom: 0;
  font-weight: lighter;
  font-size: 28px;
}

footer a:hover {
  text-decoration: none;
  border-bottom: none;
}

footer {
  padding-bottom: 32px;
}

main h2 {
  font-weight: normal;
  font-size: 24px;
}

@media all and (max-width: 791px) {

  header {
    padding-top: 11vw;
  }

  h1 {
    font-size: 6.5vw;
    padding-top: 0;
    line-height: 1.2em;
  }

  .index-copy p {
    font-size: 23px;
    line-height: 33px;
  }
}

@media all and (max-width: 436px) {

  header {
    padding-top: 10vw;
  }

  .header h1 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .header h2 {
    font-size: 6vw;
    line-height: 4vw;
  }

  .work-copy h1, .work-copy h2, .body-copy h1, .contact-copy p {
    font-size: 5vw;
  }

  .center-img {
    padding: 2vw 0 2vw 0;
  }

  .resume-img {
    max-width: 100%;
  }

  .emoji {
    font-size: 8vw;
    letter-spacing: 5px;
  }

  .index-copy p, .work-copy p, .body-copy p {
    font-size: 5.2vw;
    line-height: 8vw;
    padding: 1.5vw 0 6vw 0;
  }

  .separator-bottom {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }

  footer ul li {
    margin-right: 6.5vw;
    font-size: 5.5vw;
    line-height: 5.5vw;
  }

  footer ul li a {
      font-size: 5.5vw;
      padding-right: 0vw;
      padding-top: 0;
      line-height: 5.5vw;
    }

  footer {
    padding-bottom: 4vw;
  }

  .index-card-img {
    max-width: 100%;
    /* padding-right: 56px; */
  }

  main h3, .callout {
    line-height: 7vw;
  }

  main p {
    line-height: 7vw;
  }

  .index-card  {
    padding-bottom: 20px;
  }

  header, main, footer {
    padding-left: 24px;
    padding-right: 24px;
  }

}
